.Botao {
  background: #1E2832;
  color: #ffff;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  gap: 0.35rem;
  justify-content: center;
  margin-top: 4rem;
  padding: 20px;
  width: 130px;

  .Icone {
    color: #ffff;
  }
}



@media (max-width: 680px) {
  .Botao {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}