.Follow {
  background: #f1f1f1;
  padding-top: 4rem;
  padding-bottom: 4rem;

  h3 {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: .30rem;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
  }

  .Quadrado {
    display: flex;

    .Newsletter {
      margin-left: 6rem;

      img {
        max-width: 80%;
      }
    }
  }

  p {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: .30rem;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 3rem;
  }

  .Divbusca {
    margin-left: 24rem;
    margin-top: 4rem;

    .Txtbusca {
      background-color: #f1f1f1;
      border: none;
      color: #717171;
      width: 25rem;
    }

    button {
      border: none;
      font-size: .70rem;

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }

}