.Header {
  background: #F1F1F1;
  font-size: 1rem;
  font-family: 'Poppins';
  
  .Container {
    padding: 2rem 0;
  }

  .Menu {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
  }

  .Linha {
    height: 0;
    left: 10rem;
    margin-top: 2rem;
    position: absolute;
    width: 1030px;
  }

  .List {
    border-top: 1px solid #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    font-size: .90rem;
    padding: 2rem 0;
    font-style: none;
    gap: 0.99rem;
    justify-content: center;
    list-style: none;
  }
}